#show-modal {
    margin-bottom: 20px;
}

#container {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

.card {
    white-space: pre;
    margin-bottom: 20px;
    border: 2px solid black;
    display: flex;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}

.remove {
    border-radius: 20px;
    width: 25px;
    flex: 0 0 auto;
}

.modal {
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-contents {
    background-color: #fff;
    padding: 2rem 4rem;
}

#hide-modal {
    float: right;
    border-radius: 20px;
    margin-top: -35px;
    margin-right: -70px;
}

#open-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button:hover {
    background-color: rgba(112, 112, 112, 0.4);
}

.modal--hidden {
    display: none;
}
